*.sqlite3
*.pyc
*.pyo
*.swp
*.swo
*.swn
*.esproj
.idea
.Ds_Store
*~
git_ignore
build
.noseids
media
static
*.dat
.env
fortytwo_test_task/settings/local.py
uploads/avatars/*
!uploads/avatars/default.png
form.log
