<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation">
                <a href="/">Home</a>
            </li>
            {% if not user.is_authenticated %}
                <li role="presentation">
                    <a href="/login" id="login">Login</a>
                </li>
            {% endif %}
            <li role="presentation">
                <a href="/requests">Requests</a>
            </li>
            {% if user.is_authenticated %}
                <li role="presentation">
                    <a href="/logout/?next=/">Logout</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <h3 class="text-muted">42 Coffee Cups Test Project</h3>
</div>