{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/hello/style.css" %}">
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">42 Coffee Cups Test Project</h3>
        </div>
        <div class="jumbotron">
            {% if person %}
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong>{{ person.first_name }}</strong></h5>
                        <h5><strong>{{ person.last_name }}</strong></h5>
                        <h5><strong>Date of Birth:</strong> {{ person.birth_date }}</h5>
                        {% if person.biography%}
                        <h5><strong>Bio:</strong></h5>
                        <p id="bio">{{ person.biography }}</p>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h5><strong>Contacts</strong></h5>
                        <h5><strong>Email:</strong> {{ person.email }}</h5>
                        {% if person.jabber %}
                           <h5><strong>Jabber:</strong> {{ person.jabber }}</h5>
                        {% endif %}
                        {% if person.skype %}
                            <h5><strong>Skype:</strong> {{ person.skype }}</h5>
                        {% endif %}
                        {% if person.other_contacts %}
                            <h5><strong>Other:</strong></h5>
                            <p> {{ person.other_contacts }}</p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <h1>No persons in the database</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock extra_scripts %}