{% extends "base.html" %}

{% block titlte %} Login {% endblock titlte %}

{% block content %}
    {% include "hello/header.html" %}
    <div class="jumbotron">
        <div class="row">
            <form action="/login/" method="post" id="login-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <span> {{ form.non_field_errors }} </span>
                {% endif %}
                <div class="form-group">
                    {{ form.username.errors}}
                    <label for="{{ form.username.id_for_label }}">Login: </label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.errors}}
                    <label for="{{ form.password.id_for_label }}">Password: </label>
                    {{ form.password }}
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}